.video-mask {
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    -webkit-transform: rotate(0.000001deg);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 0px 2px 5px #333333;
    -webkit-box-shadow: 0px 2px 5px #333333;
    box-shadow: 0px 2px 5px #333333;
    border-radius: 10px;
    overflow: hidden;
}
